<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
  
  </div>
  <div class="headings">
    <h2>EVENT MANAGER </h2>
    <img src="/Calendar.png" alt="">
    <a href="/" class="btn">enter</a>
  </div>

 
</header>


<%- include('partials/footer'); -%>